body {
	margin: 10px 10% 10px 10%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: black;
}
a {
	color: red;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
table.listing {
	width: 100%;
	background-color: #ccffcc;	
	border: 1px solid black;
}
table.listing td {
	padding: 10px;
}
td.listing {
	font-weight: bold;
}