<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"
    version="2.4">

	<display-name>Aduna OpenRDF - Sesame server</display-name>
	<description>Aduna OpenRDF - Sesame server</description>

	<filter>
		<filter-name>WelcomeRedirectFilter</filter-name>
		<filter-class>info.aduna.webapp.filters.WelcomeRedirectFilter</filter-class>
		<init-param>
			<param-name>welcome-view</param-name>
			<param-value>overview.view</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>WelcomeRedirectFilter</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>

	<servlet>
	    <servlet-name>aduna-webapp-config</servlet-name>
    	<servlet-class>info.aduna.webapp.config.AppConfigurationServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
		<init-param>
			<param-name>applicationName</param-name>
			<param-value>openrdf server</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>manager</servlet-name>
		<servlet-class>org.openrdf.http.server.ConfigServlet</servlet-class>
		<load-on-startup>10</load-on-startup>
		<init-param>
			<param-name>applicationName</param-name>
			<param-value>openrdf server</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>protocol</servlet-name>
		<servlet-class>org.openrdf.http.server.ProtocolVersionServlet</servlet-class>
		<load-on-startup>20</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>repository</servlet-name>
		<servlet-class>org.openrdf.http.server.RepositoryServlet</servlet-class>
		<load-on-startup>30</load-on-startup>
	</servlet>

	<servlet>
	    <servlet-name>openrdf</servlet-name>
    	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	    <load-on-startup>100</load-on-startup>
	</servlet>
 	
	<servlet-mapping>
		<servlet-name>manager</servlet-name>
		<url-pattern>/config</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>protocol</servlet-name>
		<url-pattern>/protocol</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>repository</servlet-name>
		<url-pattern>/repositories/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>openrdf</servlet-name>
		<url-pattern>*.view</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>openrdf</servlet-name>
		<url-pattern>*.form</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>config</web-resource-name>
			<url-pattern>/config</url-pattern>
			<http-method>GET</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>sesame-admin</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Sesame server configuration</realm-name>
	</login-config>

	<security-role>
		<description>
			The role that is required to access the Sesame server configuration
		</description>
		<role-name>sesame-admin</role-name>
	</security-role>
	
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

	<welcome-file-list>
		<welcome-file>
			overview.view
		</welcome-file>
	</welcome-file-list>
</web-app>
